#popular-section h2 {
    text-align: center;
    /* background-color: red; */
  }
  /* popular  */
  #popular {
    /* background-color: rgb(252, 202, 107); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  
    /* padding: 0rem 4rem; */
  
    height: 70vh;
    gap: 5rem;
  }
  .popular-item {
    background-color: #ffd95e;
    border-radius: 10px;
    /* border: 1px solid #0026ff; */
  
    padding: 0.5rem 0.5rem;
    height: 100%;
    width: 100%;
    

    transition: transform 0.5s;
  
  }
  .popular-item:hover{
    transform: scale(1.03);
  }
  .popular-item img {
    max-width: 100%;
    max-height: 50%;
    width: 100%;
    /* height: 35%; */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }