#menu-section{
/* background-color: #ffd95e; */
margin-top: 5rem;
}
#menu-section h2{
    text-align: center;
}
#menu{
    display: grid;
    grid-template-rows: 50vh 50vh 50vh 50vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;

    /* padding: 1rem 3rem; */
}

.menu-item {
    /* background-color: white; */
    /* border-radius: 10px; */
    padding: 1rem 0.5rem;
    /* font-size: 0.5rem; */
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
}
.menu-item img {
    /* width: 90%;
    height: 25%; */

    max-width: 100%;
    max-height: 50%;
    width: 100%;
    /* height: 35%; */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}