/* Color Palette */
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #ffd95e;
  --background-color: white;
  --darkmode-color: #121212;
}

/* Typography */
html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Arial, sans-serif;
  /* font-family: 'Anton', sans-serif; */
}

h1 {
  font-size: 2rem;
  /* margin: 0; */
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  /* margin: 0; */
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

/* Nav Bar */
nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-color);
  padding: 10px 0px 10px 0px;

  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /* Ensures the navbar stays on top of other elements */

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 10px; */
  border-radius: 0px 0px 10px 10px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

  /* Your desktop styles go here */
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
  }
}

.logo-section a {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  margin: 0;
  /* margin-bottom: 2px; */
  border: 1px solid black;
  border-radius: 10px 0px 10px 0px;
  padding: 5px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

  /* Your desktop styles go here */
  .logo-section a {
    margin: 0;
  }

  .logo-section h2 {
    margin: 0;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.nav-links i:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.container {
  margin: 20px 20px 0px 20px;
}

/* Tablet styles */
@media only screen and (min-width: 450px) {

  /* Your tablet styles go here */
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1050px) {

  /* Your desktop styles go here */
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
}

main {
  background-color: var(--background-color);
  /* border: 1px solid red; */
  padding: 20px 20px 20px 20px;
}

footer {
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0px 0px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer .footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

footer .social-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}

.hero-image-container {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

/* Tablet styles */
@media only screen and (min-width: 450px){
  .hero-image-container {
    height: 200px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1050px) {
  .hero-image-container {
    height: 300px;
  }
}

#hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* ---------- Locations Page ---------- */
/* Locations */
.location {
  width: 300px;
  height: 250px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  border-radius: 10px;
}

.location h2 {
  border-bottom: 3px solid var(--secondary-color);
}

.location-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  /* align-items: center; */
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .location {
    margin-bottom: 0;
  }

  .location-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
}

/* ---------- Menu Page ---------- */
.menu-section h2 {
  border-bottom: 3px solid var(--secondary-color);
}

/* Cards */
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    justify-content: flex-start;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .card-container {
    justify-content: flex-start;
  }
}

.card {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 400px;
    height: 400px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .card {
    width: 300px;
    height: 400px;
  }
}

.card-image-container {
  height: 225px;
  width: 100%;
  /* width: 200px; */
  overflow: hidden;

  /* border: 1px blue solid; */
}

.card-image-container img {
  width: 100%;
  /* Make the image fill the container */
  height: 100%;
  /* Make the image fill the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  border-radius: 10px;
}

.card-info h3 {
  margin-top: 10px;
}

/* ----------- About Page ----------- */
.about-container h2 {
  border-bottom: 3px solid var(--secondary-color);
}

.about-container p {
  margin-bottom: 40px;
}

.about-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Main page */
.hero,
.closest-location,
.popular,
.promotions {
  margin-bottom: 50px;
}

.hero h1 {
  margin-top: 50px;
}

.closest-location-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .closest-location-box {
    flex-flow: row nowrap;
    /* gap: 40px; */
  }
}

.closest-location iframe {
  height: 225px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .closest-location iframe {
    height: 225px;
    /* width: 50%; */
  }
}

.closest-location .location {
  width: 100%;
  height: 225px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .closest-location .location {
    width: 600px;
  }
}

/* Popular Section */
.popular h2 {
  text-align: center;
}

.popular .card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* Desktop styles */
@media only screen and (min-width: 1050px) {
  .popular .card-container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

/* Promotions Section */
.promo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  border: dashed var(--secondary-color) 3px;
}
/* Mobile Styling */
@media only screen and (max-width: 500px) {
  .promo-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.promo-info {
  width: 60%;
}
/* Mobile Styling */
@media only screen and (max-width: 500px) {
  .promo-info {
    width: 100%;
  }
}
.promo-image img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
/* Mobile Styling */
@media only screen and (max-width: 500px) {
  .promo-image img {
    width: 100%;
  }
}


/* Buttons  */
button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
}

/* --------------------------- Profile Page */
.profile-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.profile-container h3 {
  margin: 0;
}

.profile-container i {
  width: 20px;
}

.profile-account,
.profile-rewards,
.profile-payment,
.profile-security-privacy {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-account h2,
.profile-rewards h2,
.profile-payment h2,
.profile-security-privacy h2 {
  border-bottom: var(--secondary-color) solid 3px;
}

.profile-account div,
.profile-rewards div,
.profile-payment div,
.profile-security-privacy div {
  margin-bottom: 20px;
}

.account-email,
.account-phone,
.rewards-points,
.rewards-card,
.payment-method,
.payment-history,
.profile-password,
.profile-notifications,
.profile-privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

/* =============================== Cart Page */
.cart-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.cart-item-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 30px;
  width: 100%;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.item-image {
  width: 125px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.item-image img {
  width: 100%;
  object-fit: cover;
  transform: scale(2);
}

.item-info {
  flex: 1;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  overflow: hidden;
}

/* Desktop styles */
@media only screen and (min-width: 1124px) {
  .item-info {
    margin-right: 250px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 431px) {
  .item-image {
    display: none;
  }
}


.item-price {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
  height: 100%;

  /* border: solid red 1px; */
}

.item-price h2 {
  margin: 0;
}

.item-quantity {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-quantity i,
.item-quantity p {
  font-size: 30px;
  margin: 0;
}