/* Color Palette */
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #ffd95e;
  --background-color: white;
  --darkmode-color: #121212;
}
/* Typography */
html {
  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Arial, sans-serif;
  /* font-family: 'Anton', sans-serif; */
}
h1 {
  font-size: 2rem;
  /* margin: 0; */
  margin-bottom: 40px;
}
h2 {
  font-size: 1.5rem;
  /* margin: 0; */
  margin-bottom: 20px;
}
h3 {
  font-size: 1.2rem;
  /* margin: 0; */
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
/* Nav Bar */
nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-color);
  padding: 10px 0px 10px 0px;

  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100; /* Ensures the navbar stays on top of other elements */

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 10px; */
  border-radius: 0px 0px 10px 10px;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
  }
}

.logo-section a {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  margin: 0;
  /* margin-bottom: 2px; */
  border: 1px solid black;
  border-radius: 10px 0px 10px 0px;
  padding: 5px;
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  .logo-section a {
    margin: 0;
  }
  .logo-section h2 {
    margin: 0;
  }
}
.nav-links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-color);
}
.nav-links a:hover {
  color: var(--secondary-color);
}
.nav-links i:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.container {
  margin: 20px 20px 0px 20px;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
main {
  background-color: var(--background-color);
  /* border: 1px solid red; */
  padding: 20px 20px 20px 20px;
}
footer {
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0px 0px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
}
footer .footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
footer .social-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}

#image-box {
  background-color: #ffd95e;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.hero-image-container {
  height: 20vh;
  width: 100%;
  overflow: hidden;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-image-container {
    height: 40vh;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .hero-image-container {
    height: 50vh;
  }
}
#hero-image {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px;
}
/* Locations */
.location {
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
  /* border-top: 2px solid var(--secondary-color); */
}
.location h2 {
  border-bottom: 2px solid var(--secondary-color);
}
.location-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  /* align-items: center; */
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .location {
    margin-bottom: 0;
  }
  .location-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
}
