<div class="cart-item-card">
    <div class="item-image">
      <img src="../assets/images/chicken_tenders_compressed.jpg">
    </div>
    <div class="item-info">
      <h3>Chicken Tenders</h3>
      <p>Crispy tender chicken, seasoned to perfection, served with your choice of dipping sauces for a deliciously satisfying bite.</p>
    </div>
    <div class="item-price">
      <h2>$6.35</h2>
      <div class="item-quantity">
        <i class="fa-solid fa-square-minus"></i>
        <p>1</p>
        <i class="fa-solid fa-square-plus"></i>
      </div>
    </div>
  </div>