<footer>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      ullam, obcaecati nemo cupiditate iste ut ea beatae commodi odit velit
      natus qui alias laboriosam? Suscipit corporis numquam aspernatur
      fugiat assumenda? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Nihil repellat quia laboriosam pariatur, facere dolor earum
      animi? Corrupti maiores ut, veritatis harum similique, nobis quasi
      sequi libero quae aspernatur aperiam! Magnam quae odit aperiam non
      nesciunt exercitationem vel commodi nulla recusandae molestias,
      debitis vero deleniti ullam provident quos. Fuga, similique.
    </p>
  </footer>