<nav>
  <section class="logo-section">
    <h2><em><a href="../index.html">nav bar logo</a></em></h2>
  </section>
  <section class="link-section">
    <ul class="nav-links">
      <!-- <li><a href="#">order</a></li> -->
      <li><a href="./menu.html">menu</a></li>
      <li><a href="./locations.html">locations</a></li>
      <li><a href="./about.html">about</a></li>
      <li><a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
      <li><a href="./profile.html"><i class="fa-solid fa-user"></i></a></li>
      <li><i class="fa-solid fa-circle-half-stroke"></i></li>
    </ul>
  </section>
</nav>